<style>
  .form-label {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 24px;
  }
</style>

<p class="form-label"><strong>First name:</strong> {{ form.first_name }}</p>
<p class="form-label"><strong>Last name:</strong> {{ form.last_name }}</p>
<p class="form-label"><strong>Phone:</strong> {{ form.phone }}</p>
<p class="form-label"><strong>Email:</strong> {{ form.email }}</p>
<p class="form-label"><strong>Origin:</strong> {{ form.origin }}</p>
<p class="form-label"><strong>Destination:</strong> {{ form.destination }}</p>
<p class="form-label"><strong>Date:</strong> {{ form.date }}</p>
<p class="form-label"><strong>Commodity:</strong> {{ form.commodity }}</p>
